:root {
    --background: #FCFBF4;
    --navbackground: rgba(0, 0, 0, 0.9);
}
body{
    background-color: var(--background);
    padding: 0%;
}
.home{
    height: max-content;
    padding: 80px 150px;
}
.home h1 {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.home p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.home ul li{
    list-style: none;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.home ul li:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 5px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-image: url("../assets/ul.svg");
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}
.topnav {
    background-color: var(--navbackground);
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.topnav img {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    padding: 5px;
}
.topnav #logo {
    position: fixed;
    top: 0;
    left: 0;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: "Radio Canada Big", sans-serif;
    font-size: 17px;
}
.topnav a:hover:not(:first-child) {
    background-color: #a0a0a0;
    color: black;
}
.topnav a.active {
    background-color: rgba(0, 13, 61, 0.9);
    color: white;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 1155px) {
    .home{
        padding: 50px 30px;
    }
    .home p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
    float: right;
    display: block;
    }
}
@media screen and (max-width: 1155px) {
    .topnav.responsive {
        position: fixed;
        padding-top: 50px;
        width: 100%;
        /* right: 0; */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    display: flex;
    text-align: left;
    }
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 250px;
}
.form input {
    width: max-content;
    /* min-width: 20rem; */
    height: 4rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(209, 209, 209), -0.2rem -0.2rem 0.5rem rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.form label {
    color: #032142;
}
.form input[type=radio] {
    min-width: 1rem;
    height: 1rem;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(0.16em);
    -webkit-transform: translateY(0.25em);
}
.form button {
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(209, 209, 209), -0.2rem -0.2rem 0.5rem rgb(255, 255, 255);
    font-size: 30px;
}
#line1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: transparent;
    width: 0;
    animation: typing 1s steps(30, end) forwards;
    -webkit-animation: typing 1s steps(30, end) forwards;
}
#line2container {
    display: grid;
    place-items: center;
    width: 370px;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
}
#line2 {
    overflow: hidden;
    white-space: nowrap;
    border-right: transparent;
    width: 0;
    animation: typing  1s steps(30, end) 1s forwards;
    -webkit-animation: typing  1s steps(30, end) 1s forwards;
}
@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}