:root {
    --background: #FCFBF4;
    --menuitemsBg: rgba(0, 0, 0, 0.9);
    --menuitemsText: #f2f2f2;
    --menuitemsHoverText: #000;
    --menuitemsHoverBg: #a0a0a0;
    --menuitemsActiveBg: rgba(0, 13, 61, 0.9);
    --menuitemsActiveText: #ffffff;
    --heading: #000;
    --description: #666;
    --listElements: #666;
    --formBg: #f5f5f5;
    --outputBg: #f5f5f5;
    --outputText: #000;
    --toggleText: #78768d;
    --toggleButton: #fff;
    --toggleButtonDecrypt: #05012c;
    --toggleButtonEncrypt: #ffb500;
    --submitButtonText: #234567;
    --submitButtonBg: #b1dae7;
    --submitButtonArrow: #234567;
    --popupBg: #555;
    --popupText: #fff;
}
body{
    background-color: var(--background);
    padding: 0%;
}
.topnav {
    background-color: var(--menuitemsBg);
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.topnav img {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    padding: 5px;
}
.topnav #logo {
    position: fixed;
    top: 0;
    left: 0;
}
.topnav a {
    color: var(--menuitemsText);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: "Radio Canada Big", sans-serif;
    font-size: 17px;
}
.topnav a:hover:not(:first-child) {
    background-color: var(--menuitemsHoverBg);
    color: var(--menuitemsHoverText);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.topnav a.active {
    background-color: var(--menuitemsActiveBg);
    color: var(--menuitemsActiveText);
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 1155px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
    float: right;
    display: block;
    }
}
@media screen and (max-width: 1155px) {
    .topnav.responsive {
        position: fixed;
        padding-top: 50px;
        width: 100%;
        /* right: 0; */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    display: flex;
    text-align: left;
    }
}