{% extends 'navigation.html' %}
{% block body %}
<style>
.form {
    margin-bottom: 20px;
}

.form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}

#jsonData {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fb0000;
}
#jsonData img {
    align-self: start;
    width: 100px;
    border: 1px solid #000000;
}
#details {
    border: 1px solid #000000;
}

#details div + strong {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

/* #details div {
    
} */


</style>
<div class="container">
    <div class="form">
        <form method="POST">
            <input type="email" id="email" name="email" placeholder="user@example.com" required>
            <br>
            <button id="submit" type="submit">Scan</button>
        </form>
    </div>
    <div >
        <div class="jsonData_class" id="jsonData"></div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/email_api_fetch.js') }}"></script>
{% endblock %}