{%extends 'navigation.html' %}
{% block body%}
    <div class="home">
        <h1>Safeguard Your Digital World with CyberHUB</h1>
        <p>In today's digital age, data security is paramount. CyberHUB is an innovative web app designed to empower you with robust tools for real-time data protection and breach prevention.</p>
        <p>With CyberHUB, you can:</p>
        <ul>
            <li>Verify data integrity through advanced hash identification</li>
            <li>Check for email and password breaches in real-time using external APIs</li>
            <li>Encrypt and decrypt messages securely, ensuring confidentiality</li>
        </ul>
        <p>CyberHUB's user-friendly interface and collaborative backend processing make cybersecurity accessible to everyone, regardless of technical expertise. Protect your digital assets with confidence and stay ahead of evolving cyber threats.</p>
        <p>Explore our comprehensive suite of tools and embark on a journey towards a safer digital future. Get started with CyberHUB today!</p>
    </div>
</body>
</html>
{% endblock %}