<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Rescue</title>
    <link rel="stylesheet" href="../static/css/navigation.css">
</head>
<script src="../static/js/navigation.js"></script>
<body>
    <div class="navigation">
        <div class="topnav" id="Topnav">
            <a href="#" class="active">Home</a>
            <a href="emailleak.html">DarkWeb Email Leak Check</a>
            <a href="passwordleak.html">DarkWeb Password Leak Check</a>
            <a href="#">Hash Identifier</a>
            <a href="#">Secure Massage</a>
            <a href="#">Help & FAQ</a>
            <a href="javascript:void(0);" class="icon" onclick="responsive()">Tools</a>
        </div>
    </div>
    <div class="home">
        <p>
            Hello there looking for a platform to access necessary cyber security tools at one place?
        </p>
        <p>
            Well look no more cyber rescue is on the mission to make useful cyber tools accessible to anyone and every one at one platform.
        </p>
        <p>
            Browse thorough our curated list of tool form Navigation bar on left,If you have any doubts please refer to the Help & FAQ section.
        </p>
    </div>
</body>
</html>