<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/navigation.css">
</head>
<script src="../static/js/navigation.js" defer></script>
<body>
    <div class="navigation">
        <div class="topnav" id="Topnav">
            <a href="#" class="active">DarkWeb Email Leak Check</a>
            <a href="index">Home</a>
            <a href="passwordleak">DarkWeb Password Leak Check</a>
            <a href="emailleak">DarkWeb Email Leak Check</a>
            <a href="#">Hash Identifier</a>
            <a href="#">Secure Massage</a>
            <a href="#">Help & FAQ</a>
            <a href="javascript:void(0);" class="icon" onclick="responsive()">Tools</a>
        </div>
    </div>
    {% block body%}

    {% endblock %}