{%extends 'navigation.html' %}
{% block body%}
<div>
    <div class="form">
        <form method="POST">
            <input type="password" id="password" name="password" placeholder="***********" required
                style="font-size: 25px;">
            <br>
            <button type="submit">Scan</button>
        </form>
    </div>
    <div class="jsonData_class">
        <p id="jsonData"></p>
    </div>
</div>
<script src="{{url_for('static',filename='js/pass_api_fetch.js')}}"></script>
</body>

</html>
{% endblock %}