<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/navigation.css">
</head>
<script src="../static/js/navigation.js" defer></script>
<body>
    <div class="navigation">
        <div class="topnav" id="Topnav">
            <a href="#" class="active">DarkWeb Password Leak Check</a>
            <a href="index.html">Home</a>
            <a href="emailleak.html">DarkWeb Email Leak Check</a>
            <a href="#">Hash Identifier</a>
            <a href="#">Secure Massage</a>
            <a href="#">Help & FAQ</a>
            <a href="javascript:void(0);" class="icon" onclick="responsive()">Tools</a>
        </div>
    </div>
    <div>
        <div class="form">
            <form action="{{ url_for("passleak")}}" method="post">
                <input type="password" id="password" name="password" placeholder="***********" required style="font-size: 25px;">
                <br>
                <button type="submit">Scan</button>
            </form>
        </div>
    </div>
</body>
</html>